html, body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#tree {
    width: 100%;
    height: 100%;
}

[c-link-from]:hover {
    cursor: pointer !important;
}

[c-link-from]:hover>path:first-child {
    stroke-width: 3;
}